<!-- Answer Quiz -->

<div class="row">
  <div class="col-md-6 col-md-offset-3">
   <% flash.each do |message_type, message| %>
	  <script>alert("<%= message %>")</script>
	  <% flash.clear %>
   <% end %>

   <%= form_for(@answer, url: check_quiz_path) do %>
      <h1><%= @answer.content %></h1>
      <%= text_area_tag :answer %>
      <%= hidden_field_tag "id", @answer.id %>
      <%= submit_tag "Answer question", class: "btn btn-lg btn-primary" %>
   <% end %>

   <div id="score">
    <h3>Score: <%= score %></h3>
   </div>

  </div>
</div>