<!DOCTYPE html>
<html>
  <head>
    <title>Quiz Master Home</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
  	<%= render 'layouts/header' %>
    
    <div class="container">
      <%= yield %>
      <li><%= link_to "New",    new_path %></li>
	  <li><%= link_to "Quiz",   quiz_path %></li>
    </div>
  </body>
</html>

